@model IEnumerable<AuthenticationApp03.Models.ToDo>
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <div> 
        <ul>
            @foreach (var item in Model)
            {
                <li>@Html.DisplayFor(modelItem => item.Description)</li>
            }
        </ul>
    </div>
</body>
</html>
